@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

body {
    width: 100%;
    background-color: #f1e7c5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    overflow-x: hidden;
}

.labels {
    display: block;
    margin: 8px;
}

.inputs {
    margin: 4px;
    width: 250px;
    padding: 4px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

.btn_cadastro {
    margin: 12px;
    width: 150px;
    height: 40px;
    padding: 4px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #649d3c;
    color: white;
    border: none;
transition: all 0.2s ease-in-out;
}
.btn_cadastro:hover{
    transform: scale(0.9);
}